/*
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

/*↓基本情報、大枠*/
body{
  position: relative;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

 html {
  font-size: 62.5%;
  height: 100%;
}

.container {
  width: 980px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  background-color: azure;
  display: block;
 }

 header {
   height: 75px;
   font-size: 1.5rem;
   background-color: blue;
 }

 footer{
  width: 100%;
  height: 80px;

  position: absolute;
  left:0;
  bottom: 10px;

  background-color: #4D4D4D;
  font-size: 1.5rem;
 }

.main_content{
  padding-bottom: 120px;
}

 /*↑基本情報、大枠*/


  /*↓タイトル位置*/
  .box_title_head{
    float: left;
  }
  .title_head{
    color: white;
    margin-left:20px;
  }


 /*↓ボタン位置*/
 .box_btn_head{
   float: right;
   margin: 20px;
 }
 .btn_head{
   margin: 0 10px;
 }

 .box_btn_foot{
   position: absolute;
   bottom:20px;
   left:20px;
 }


  /*↓各画面で使う、標準レイアウト*/
  /*行*/
.line_info{
  position: relative;

  height: 50px;
  }
.line_info_multiline{
  position: relative;

  height: 120px;
  }

  .line_content_1,.line_content_2{
    position: absolute;
    top: 12px;
  }

  .line_content_1{
    left: 6px;
  }
  .line_content_2{
    left: 166px;
  }

  /**次の画面へ遷移するボタン*/
  .btn_next{
  position: absolute;
  right:50px;
  bottom: 120px;
}
  /**削除ボタン→登録ボタンの左に表示*/
  .btn_del{
  position: absolute;
  right:150px;
  bottom: 120px;
}

.err_msg{
}


.row-eq-height {
  flex-wrap: wrap;
}

.show_textarea{
  background-color:silver;
}
